@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #222
}
header{

    background-color: #23160c;
    opacity: 6.8;
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 2px;
}

header nav a{
    text-decoration: none;
    color: #ddb99d;
    padding: 10px;
}

header nav a:hover{
    border-bottom: solid 4px #ddb99d

}
.right{
    text-align: right;

}

.flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white{
    color:#eee
}
.social-icons_img{
    padding: 0 5px;
}

.carousel-item{
    background-color: darksalmon;
    height: 400px;
    position:relative
}
.carousel-item .carousel-item-text{
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.container{
    width: 100%;
    min-width: 360px;
    max-width: 1280px;
    margin: auto;
}
.gold{
    color: goldenrod;
}
.atalho{
    color: black;
}
.coisa{
    font-size: 20px;
}

.form-contact input,
.form-contact textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #ddb99d;
    border: solid 1px #eee ;
    border-radius: 5px;
}

.form-contact button{
    padding: 5px 10px;
    background-color: #eee;
    border: solid 4px #ffaa00;
}

/* Mobile */
@media  (max-width:980px) {
    .logo{
        display: none;
    }

.flex-nav{
    flex-direction: column;
}
.flex-nav a{
    display:flex;
    justify-content: center;
}
.navbar-toggler-icon{
    background-image: url(/img/icons/bars-solid.svg) ;
}
}
